<div class="modal-card" data-action="{{id}}">
    <div class="cardItem__image">
        <img class="image" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" onerror="this.onerror=null;this.src='https://ik.imagekit.io/tc8jxffbcvf/default-movie-portrait_EmJUj9Tda5wa.jpg?tr=fo-auto,di-';"
/>
    </div>

    <div class="cardItem__wrapper">
        <h2 class="cardItem__name">{{title}}</h2>
        <div class="cadrItem">
             <span class="cardItem_text" data-locale="vote">Vote / Votes</span><span class="cardItem__details"><span class="orange">{{vote_average}}</span><span
                class="cardItem__vote_count"> / {{vote_count}}</span></span>
        </div>
        <div class="cadrItem">
           <span class="cardItem_text" data-locale="popularity">Popularity</span><span class="cardItem__details">{{popularity}}</span>
        </div>
        <div class="cadrItem">
            <span class="cardItem_text" data-locale="originalTitle">Original Title</span><span class="cardItem__details">{{original_title}}</span>
        </div>
                <div class="cadrItem">
                    <span class="cardItem_text" data-locale="genre">
                        Genre
                    </span>
                    <span class="cardItem__details">{{#each genres}}
                        <span class="cardItem__genre_data">{{this.name}}</span>
                        {{/each}}</span>

                </div>



                <p class="cardItem__about" data-locale="about">About</p>
                <p class="cardItem__description">
                    {{overview}}
                </p>
                <div class="storage">
               <button class="storage__btn" id="js-WatchedButton" data-locale="addToWatched">Add to watched</button>
               <button class="storage__btn" id="js-QueueButton" data-locale="addToQueue">Add to queue</button>
                    </div>
          </div>
    <div class="modal-close-btn">
           
    </div>
</div>